.preload {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  background-color: white;
  -webkit-transition: 1s;
  transition: 1s;
}
.preload .preload_container {
  width: 600px;
  height: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.preload .preload_container h1 {
  font-size: 60px;
}
.preload .preload_container h1:nth-child(1) {
  font-family: "Redressed", cursive;
}
@media (max-width: 620px) {
  .preload .preload_container h1 {
    font-size: 35px;
  }
}
@media (max-width: 425px) {
  .preload .preload_container h1 {
    font-size: 25px;
  }
}
.preload .preload_container hr {
  border: none;
  border-radius: 50px;
  width: 2px;
  height: 100%;
  background-color: black;
}
.preload .preload_container .anim_block {
  width: inherit;
  height: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  -webkit-transition: 3s;
  transition: 3s;
}

.anim_block_active {
  right: -600px !important;
}

.preload_active {
  visibility: hidden !important;
  opacity: 0 !important;
}