@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Redressed&family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
@media (hover: none) and (pointer: coarse) {
  * {
    cursor: none !important;
  }
}

body {
  padding-bottom: 100px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

a, button, input, textarea {
  outline: none;
  border: none;
  text-decoration: none;
}

.preload {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  background-color: white;
  -webkit-transition: 1s;
  transition: 1s;
}
.preload .preload_container {
  width: 600px;
  height: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.preload .preload_container h1 {
  font-size: 60px;
}
.preload .preload_container h1:nth-child(1) {
  font-family: "Redressed", cursive;
}
.preload .preload_container hr {
  border: none;
  border-radius: 50px;
  width: 2px;
  height: 100%;
  background-color: black;
}
.preload .preload_container .anim_block {
  width: inherit;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  -webkit-transition: 3s;
  transition: 3s;
}

.anim_block_active {
  right: -600px !important;
}

.preload_active {
  visibility: hidden !important;
  opacity: 0 !important;
}

.heading {
  width: 1070px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 8px;
  margin: auto;
  padding: 10px;
  margin-top: 20px;
}
@media (max-width: 1100px) {
  .heading {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .heading {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
    margin-top: 0;
  }
}
.heading button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 4px;
}
.heading button:nth-child(1) {
  background-image: url(../images/prew.png);
}
.heading button:nth-child(4) {
  background-image: url(../images/next.png);
}

.slider_name_month {
  border-radius: 50px;
  width: 184px;
  overflow: hidden;
}

.slider_line_name_month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.name_month {
  width: inherit;
  text-align: center;
}
@media (max-width: 375px) {
  .name_month {
    font-size: 24px;
  }
}

.calendar {
  max-width: 1050px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin: auto;
  margin-top: 20px;
  padding: 5px;
}

.calendar_line {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.month {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-top: 0;
  margin-right: 10px;
}
.month tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 20px;
  margin: auto;
  margin-top: 20px;
}
@media (max-width: 900px) {
  .month tr {
    border: 0.5px solid #C6C6C8;
    border-radius: 8px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 7px;
  }
}
@media (max-width: 425px) {
  .month tr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.month tr:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 0;
}
@media (max-width: 900px) {
  .month tr:first-child {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.month tr:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (max-width: 900px) {
  .month tr:last-child {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.month td {
  border-radius: 8px;
  cursor: pointer;
  width: 130px;
  height: 110px;
  overflow: hidden;
  word-wrap: break-word;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
@media (max-width: 1050px) {
  .month td {
    width: 100px;
    height: 90px;
  }
}
@media (max-width: 900px) {
  .month td {
    width: 130px;
    height: 110px;
  }
}
@media (max-width: 425px) {
  .month td {
    width: 280px;
    height: 200px;
  }
}
.month td:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.month td .text_title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 18px;
  padding: 5px;
}
@media (max-width: 425px) {
  .month td .text_title {
    font-size: 28px;
  }
}
.month td .text_note {
  display: none;
}

.weekdays {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.outputdays {
  background-color: #6f081b !important;
}

.day {
  border-radius: 1px;
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: white;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  margin-top: 0;
}
@media (max-width: 425px) {
  .day {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.day .date {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 18px;
}
@media (max-width: 425px) {
  .day .date {
    font-size: 24px;
  }
}
.day .week_day {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: auto;
  margin-right: 0;
}
@media (max-width: 425px) {
  .day .week_day {
    font-size: 24px;
  }
}

.today {
  background-color: #1a73e8 !important;
  -webkit-box-shadow: 0 0 5px 4px #1a73e8 !important;
          box-shadow: 0 0 5px 4px #1a73e8 !important;
}

.modal {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.modal .modal_overlay {
  border-radius: 8px;
  width: 700px;
  min-height: 400px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  padding: 15px;
}
@media (max-width: 900px) {
  .modal .modal_overlay {
    overflow-y: scroll;
  }
}
@media (max-width: 768px) {
  .modal .modal_overlay {
    width: 90%;
    height: 90vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.modal .modal_overlay .close_modal {
  width: 30px;
  position: absolute;
  top: 12px;
  right: 12px;
}
@media (min-width: 769px) {
  .modal .modal_overlay .close_modal {
    display: none;
  }
}

.modal_left {
  width: 400px;
}
@media (max-width: 768px) {
  .modal_left {
    width: 100%;
  }
}
.modal_left .modal_day {
  border: 0.5px solid #C6C6C8;
  border-radius: 8px;
  width: 230px;
  height: 190px;
  overflow: hidden;
  word-wrap: break-word;
  background-color: white;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  margin-top: 78px;
}
@media (max-width: 768px) {
  .modal_left .modal_day {
    margin: auto;
    margin-top: 15px;
  }
}
@media (max-width: 425px) {
  .modal_left .modal_day {
    height: 150px;
  }
}
.modal_left .modal_day .modal_top_information {
  border-radius: 1px;
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  margin-top: 0;
  height: 50px;
  background-color: #1a73e8;
  padding-left: 15px;
  padding-right: 15px;
}
.modal_left .modal_day .modal_top_information .selected_date {
  color: white;
  font-size: 24px;
}
.modal_left .modal_day .modal_top_information .selected_week_day {
  font-size: 24px;
  margin: auto;
  margin-right: 0;
}
.modal_left .modal_day h2 {
  padding: 5px;
}

.modal_form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  margin-right: 0;
  margin-top: 0;
}
@media (max-width: 768px) {
  .modal_form {
    margin-top: 20px;
  }
}
.modal_form .block_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal_form .block_input:nth-child(2) {
  margin-top: 15px;
}
.modal_form .block_input input, .modal_form .block_input textarea {
  border: 0.5px solid #C6C6C8;
  border-radius: 8px;
  width: 100%;
  font-size: 18px;
  padding: 7px;
}
.modal_form .block_input textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 190px;
  max-height: 190px;
}

.menu_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.menu_input label {
  font-size: 22px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin: auto;
  margin-left: 0;
}
.menu_input img {
  width: 24px;
  margin-right: 10px;
}

.menu_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 15px;
  margin: auto;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 15px;
}
.menu_button img {
  cursor: pointer;
  width: 30px;
}
.menu_button button {
  border: 0.5px solid #C6C6C8;
  border-radius: 6.93px;
  cursor: pointer;
  width: 140px;
  height: 40px;
  font-size: 18px;
  text-transform: uppercase;
  color: black;
  background: white;
  -webkit-transition: 0.15s linear;
  transition: 0.15s linear;
}
.menu_button button:hover {
  color: white;
  -webkit-box-shadow: inset 140px 0 0 0 #1a73e8;
          box-shadow: inset 140px 0 0 0 #1a73e8;
}
.menu_button button:focus {
  color: white;
  -webkit-box-shadow: inset 140px 0 0 0 #1a73e8;
          box-shadow: inset 140px 0 0 0 #1a73e8;
}

.reset {
  cursor: pointer;
}
.reset:hover {
  -webkit-animation: anim_reset 2s infinite;
          animation: anim_reset 2s infinite;
}

@-webkit-keyframes anim_reset {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@keyframes anim_reset {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}
.modal_active {
  visibility: visible !important;
  opacity: 1 !important;
}